url = 'link'

telegram_bot_token = '1234567890:ASDZXC9ZXCASADMKEwR6ASDQWEjro5Q'
chat_id = '123456789'


# Данные для подключения по SSH и SFTP
server = "12.23.123.33"  # замените на адрес вашего сервера
username = "USER"  # замените на ваше имя пользователя
password = "PASS"  # замените на ваш пароль

